@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #6F5643;
  margin-bottom: 8px;
}

p, a {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}


button {
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.main {
  /* display: flex;
  flex-direction: row; */
  max-height: 100vh;
  overflow: hidden;
}


/* bootstrap rewrite  */

.invalid-feedback {
  display: inline-block !important;
}

/* sidebar event container */

.event-container {
  min-width: 480px;
  /* height: 100vh; */
}

.event-list {
  background-color: #F2EAC5;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100vh - 10.5rem);
  overflow-y: scroll;

}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.single-event-container {
  background-color: #ECE6C2;
  border: 1px solid #FEF7D8;
  box-shadow: 0px 16px 32px rgba(111, 86, 67, 0.3);
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.single-event-container img {
  max-width: 480px;
}

.single-event-container.last-event {
  margin-bottom: 120px;
}

.single-event-container .footer {
  width: 100%;
  display: flex;
  gap: 10px;
  outline: none;
  cursor: pointer;
}

.single-event-container.selected-event {
  background-color: #fff;
}


button.join-btn {
  background-color: #D2A24C;
}

button.cancel-btn {
  background-color: #CC6B49;
}

button.message-btn {
  background-color: #73BDA8;
}


.event-search-container {
  background-color: #ECE6C2;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.event-search-container input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
}

.event-search-container button {
  padding: 10px !important;
  width: auto;
  background-color: #CC6B49;
}

.event-search-container select {
  padding: 10px;
  font-size: 18px;
}



/* map  */

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}


/* preloader  */

.preloader {
  width: 100%;
  height: 100%;
}

.preloader .small-circle {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  transform-origin: 50%;
  animation: 1s draw-small infinite alternate;
}

@keyframes draw-small {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }

  100% {
    stroke-dashoffset: 210;
    transform: rotate(360deg);
  }
}

.preloader .big-circle {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  transform-origin: 50%;
  animation: 1s draw-big infinite alternate 0.5s;
}

@keyframes draw-big {
  0% {
    stroke-dashoffset: 0;
    transform: rotateY(180deg) rotate(360deg);
  }

  100% {
    stroke-dashoffset: 240;
    transform: rotateY(180deg) rotate(0deg);
  }
}

.preloader svg {
  width: 102px;
  height: 102px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* scrollbar  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ECE6C2;
}

::-webkit-scrollbar-thumb {
  background: #FEF7D8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

  background: #FEF7D8;
}